#{extends 'main.html' /}
#{set title:'Sobre' /}

<h1>Bachstats</h1>

Bachstats é um sistema simples de dashboards com o objetivo de avaliar indicadores que 
possuem uma estrutura de unidade sendo avaliada, um valor de target e um valor real. 

<br/><br/>

Cada indicador ainda possui uma estrutura de tendência, assim se pode saber se uma 
coleta está melhorando ou piorando. A sequência avaliada ajuda a identificar uma 
tendência.

<br/><br/>

Última apresentação da demonstração: JavaOne 2012 Brasil!