#{extends 'main.html' /}
#{set 'title'}
  ${kpi.slug}
#{/set}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">    
    
    
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Semana');
        data.addColumn('number', 'Planejado');
        data.addColumn('number', 'Realizado');
 
        data.addRows(
        [
#{if listaPontosRealizados.size() > 1}
#{list items:listaPontosRealizados, as:'pontos'}
 ['${pontos.weekReference}',${pontos.expected},${pontos.actual}],
#{/list}
#{/if}
        ]);

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, {width: '100%', height: 266,
                   colors: ['#c7cfc7', '#b2c8b2'],
                   chartArea: {left:38,top:30, width:"75%",height:"70%"},
                   legendTextStyle: {color:'#666666'},
                   hAxis: {title: 'Semana',
                   titleTextStyle: {color: '#5c5c5c'},
                   titlePosition: 'out'}
                  });
      }
    </script>

  <div class="row">
  <div class="span6">
		<table border=1>
		<tr>
		  <td>semana</td>
		  <td>planejado</td>
		  <td>realizado</td>
		</tr>
		  #{if listaPontosRealizados.size() > 1}
		  #{list items:listaPontosRealizados, as:'pontos'}
		  <tr>
		  <td>${pontos.weekReference}</td>
		  <td>${pontos.expected}</td>
		  <td>${pontos.actual}</td>
		  </tr>
		  #{/list}
		  #{/if}
		</table>
  </div>
  <div class="span10">
    <div id="chart_div"></div>
  </div>
</div>