<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        
        <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    </head>
    <body>
    
	    <div class="topbar">
	      <div class="fill">
	        <div class="container">
	          <a class="brand" href="#">Bachstats</a>
	          <ul class="nav">
	            <li class="active"><a href="semana">Produtividade Semana</a></li>
	            <li><a href="about">Sobre</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	     <div class="container">
        #{doLayout /}
        </div>
    </body>
</html>
